/* =========================
   Page Container
========================= */
.otpContainer {
  min-height: 100vh;
  background: linear-gradient(180deg, var(--bg) 0%, var(--soft) 40%, var(--gradient-accent) 100%);
  text-align: center;
  padding: 14px 16px 32px;
  font-family: "Poppins", sans-serif;
}

/* =========================
   Top Text
========================= */
.verifyText {
  font-size: 23px;
  color: var(--text-secondary);
  margin-bottom: 8px;
  font-weight: bold;
  font-family: 'More-Sugar';
}

.brand {
  font-size: 39px;
  font-weight: bold;
  color: var(--primary);
  margin-bottom: 89px;
  font-family: 'More-Sugar';
}

.otpCard {
  position: relative; /* REQUIRED for girl positioning */
  background-color: var(--card);
  color: var(--text);
  border-radius: 28px 28px 0 0;
  padding: 72px 20px 28px;
  width: 90%;
  margin: -12px auto 0;
}

.girl {
  position: absolute;
  top: -76px;
  left: 50%;
  transform: translateX(-50%);
  width: 180px;
  z-index: 3;
  pointer-events: none;
}


.leafLeft {
  position: absolute;
  top: -14px;
  left: 20px;
  width: 34px;
  opacity: 0.9;
}

.leafRight {
  position: absolute;
  top: -22px;
  right: 26px;
  width: 42px;
  opacity: 0.9;
}

.leafInside {
  position: absolute;
  top: 95px;
  right: 30px;
  width: 32px;
  opacity: 0.7;
}


.otpCard h2 {
  font-size: 34px;
  text-align: left;
  margin-bottom: 10px;
  line-height: 1.2;
}

.subtitle {
  font-size: 16px;
  text-align: left;
  opacity: 0.9;
  margin-bottom: 16px;
}

.otpInputs {
  display: flex;
  justify-content: center;
  max-width: 240px;
  margin: 0 auto 16px;
  gap: 10px;
}

.otpInputs input {
  width: 44px;
  height: 44px;
  border-radius: 14px;
  border: none;
  background-color: var(--soft);
  text-align: center;
  font-size: 18px;
  outline: none;
}

.resend {
  background: none;
  border: none;
  color: var(--text-secondary);
  font-size: 17px;
  margin-bottom: 12px;
  cursor: pointer;
}

.verifyBtn {
  width: 100%;
  height: 52px;
  border-radius: 20px;
  border: 2.2px solid #fff;
  background: var(--gradient-accent);
  color: var(--card);
  font-size: 19px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 8px;
}


/* Top-left leaf */
.leafMidLeft {
  top: 100px;
  right: 206px; 
  width: 80px;
  position: relative;
}

/* Top-right leaf */
.leafTopRight {

  top: 20px;
  position: relative;
  width: 80px;
  left: 215px;
}

/* Leaf touching card */
.leafOnCard {
  position: absolute;
  top: 86px;
  right: 28px;
  width: 1132px;
  opacity: 0.7;
  transform: rotate(10deg);
}

.leafbelow {
  position: relative;
  left: 154px;
  width: 84px;
  align-items: end;
  top: -100px;
}


.verifyBtn:hover {
  background-color: rgba(255, 255, 255, 0.12);
}
